body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: lightgray;
}

.map {
    height: 80vh;
    margin: 50px;
    border-width: 5px;
    border: black;
    border-color: black;
    border-style: solid;
}

.mapbox {
    width: 90%;
    text-align: center;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 920px;
    display: inline-block;
}

.legend {
    line-height: 18px;
    color: #555;
    margin: 10px;
    text-align: left;
}

.legend div {
    display: inline-block;
    margin-inline-end: 5px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    align-content: left;
    margin-right: 8px;
    opacity: 0.7;
}