body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.map {
    width: 90%;
    height: 60vh;
    margin-left: 5%;
    border: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.language-selector {
    background-color: white !important;
    width: 40%;
    display: inline-block;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    border: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.info {
    padding: 8px;
    font: 16px Arial;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    background-color: white;
    border: black;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.legend {
    line-height: 18px;
    color: #555;
    text-align: center;
}

.legend div {
    padding: 8px;
    display: inline-block;
    text-align: center;
}

.legend i {
    display: inline-block;
    width: 50px;
    height: 18px;
    padding-top: 0px;
    opacity: 0.7;
    border: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}